
*{
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    /* flex-wrap: wrap; */
    /* Cho phép các phần tử xuống dòng nếu không đủ không gian */
    /* justify-content: space-between; */
    /* Tạo khoảng cách đều giữa các phần tử */
    gap: 30px;
    /* Khoảng cách giữa các phần tử */
    padding: 20px;
    background-color: rgb(228, 228, 228);
}


/* Contact Info */
.contact-info {
    padding: 20px;
    background: #f9f9f9;
    /* border-radius: 5px; */
    margin-left: 90px;
    width: 400px;
}

.contact-info h2,
.contact-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.contact-info p,
.contact-info ul {
    margin-bottom: 10px;
    color: #555;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    margin-bottom: 5px;
}

/* Contact Form */
.contact-form {
    padding: 20px;
    background: #fff;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-left: 70px;
}

.contact-form h2 {
    margin-bottom: 15px;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #555;
}
